@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .control-next.control-arrow:before {
  border-left-color: #000 !important;
}

.carousel .control-prev.control-arrow:before {
  border-right-color: #000 !important;
}

.carousel .control-dots .dot {
  background: #000 !important;
}

.carousel .carousel-status {
  display: none;
}
